In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import shapiro,wilcoxon,ttest_1samp,ttest_ind,ttest_rel

In [2]:
#IS Attrition rate based on the Gender ... Both are categoricalin our case
A=pd.read_table('HR.txt',index_col=0)

In [3]:
AG=pd.crosstab(A['Attrition'],A['Gender'])
AG

Gender       1    2
Attrition
No         732  501
Yes        150   87

In [ ]:
#Propotion test 
#What % of male eployees left the organisation
#Yes mean left the Org . No means still in Org

In [12]:
p1=150/882 #(150/(732+150))
p1

0.17006802721088435

In [8]:
AG.loc['Yes'][1]

150

In [10]:
AG[1].sum()

882

In [13]:
p1=AG.loc['Yes'][1]/AG[1].sum()
p1
#17% of Male left the org

0.17006802721088435

In [14]:
p2=87/588
p2

#14% of FeMale left the org

0.14795918367346939

In [ ]:
#Numerically there is difference but need to prove statistically and confirm that they also fall within 95% CI level

tdata is the formula for the Mean test
Zdata is the formula for the Propotion test

Zdata formula is used for propotion test.

p1= propotion 1
p2= propotion 2
PP= pooled propotion (Irrespective of Male and Female whats the Total attrition) 
n1= total no of person for p1
n2= total no of person for p2

In [15]:
pp=237/1470 #(total yes cases / total no of employees in org)
pp

0.16122448979591836

In [23]:
AG.sum().sum()

1470

In [24]:
pp=AG.loc['Yes'].sum()/AG.sum().sum()
pp

0.16122448979591836

In [30]:
n1=AG[1].sum()
n2=AG[2].sum()

In [31]:
zdata=(p1-p2)/np.sqrt(pp*(1-pp)*(1/n1+1/n2))
zdata

1.1292547809155016

Difference between two propotions is 1.1292547809155016 which means it falls under the 1.96.

if value>1.96 means area<5% guaranteed. Here the value <1.96 which means the area is larger and area>5%. Ho holds true
We cannot calculate the pvalue mnaually so we use the built in functions for this. So better to use that way and decide if Ho holds good and can be rejected.

Ho=> Attrition rate of Male == Attrition rate of Female
Ha=> Attrition rate of Male != Attrition rate of Female

In [32]:
from statsmodels.stats.proportion import proportions_ztest

In [33]:
x=np.array([150,87])
n=np.array([882,588])

In [34]:
proportions_ztest(x,n)

(1.1292547809155016, 0.2587903704911598)

In [45]:
np1=AG.loc['Yes']

#can also be done like this too
# x=np.array(AG.loc['Yes'])
# x
x=np.array(np1)
x

array([150,  87], dtype=int64)

In [46]:
np2=AG.sum()
n=np.array(np2)
n

array([882, 588], dtype=int64)

In [47]:
proportions_ztest(x,n)

(1.1292547809155016, 0.2587903704911598)

In [ ]:
pvalue (0.2587903704911598) > 0.05

In [ ]:
As the p-value is more than 0.05 , Ho (Null) holds good.
Gender doesnt affect the attrition.

Conclusion : Attrition rate of Male == Attrition rate of Female

In [ ]:
#Is the Headache dependent on Gender? - Propotions test

In [48]:
df=pd.read_csv('Migraine.csv')
df.head()

   Unnamed: 0  id  time  dos hatype  age  airq  medication headache  Gender
0           1   1   -11  753   Aura   30   9.0  continuing      yes  female
1           2   1   -10  754   Aura   30   7.0  continuing      yes  female
2           3   1    -9  755   Aura   30  10.0  continuing      yes  female
3           4   1    -8  756   Aura   30  13.0  continuing      yes  female
4           5   1    -7  757   Aura   30  18.0  continuing      yes  female

In [50]:
df=pd.read_csv('Migraine.csv',index_col=0)
df.head()

   id  time  dos hatype  age  airq  medication headache  Gender
1   1   -11  753   Aura   30   9.0  continuing      yes  female
2   1   -10  754   Aura   30   7.0  continuing      yes  female
3   1    -9  755   Aura   30  10.0  continuing      yes  female
4   1    -8  756   Aura   30  13.0  continuing      yes  female
5   1    -7  757   Aura   30  18.0  continuing      yes  female

In [66]:
AG1=pd.crosstab(df['headache'],df['Gender'])
AG1

Gender    female  male
headache
no          1266   220
yes         2279   387

Ho=> propotion male having headache == propotion of female having headache
Ha=> propotion male having headache != propotion of female having headache

In [52]:
p1=2279/(2279+1266)  #female
p1

0.6428772919605078

In [70]:
p1=AG1.iloc[1,0]/AG1['female'].sum()
p1

0.6428772919605078

In [12]:
p2=387/(220+387)  #male
p2

0.6375617792421746

In [74]:
p2=AG1.loc['yes','male']/AG1['male'].sum()
p2

0.6375617792421746

In [11]:
2279+1266

3545

In [76]:
AG1['female'].sum()

3545

In [13]:
220+387

607

In [75]:
AG1['male'].sum()

607

In [14]:
proportions_ztest([2279,387],[3545,607])

(0.2524275906432048, 0.8007105762350393)

In [81]:
x=np.array(AG.loc['yes']) #[2279,387]
n=np.array(AG.sum()) #[3545,607]

In [82]:
proportions_ztest(x,n)

(0.2524275906432048, 0.8007105762350393)

pvalue>0.05 so Ho holds good . 80% of propbability of Ho 
Gender is not having an effect on causing the headache. 
or Headache is not influenced by Gender.

-Inference with respect to question and also independent variable